{% extends 'base.html' %}

{% block css %}
  <style>
    h5 {
      color: rgb(165, 42, 165) !important;
    }
  </style>
{% endblock %}


{% block main %}
<div class="row">
  <div class="col-6 offset-3 mt-2">
    {% if mascota != None %} <!-- if not mascota -->
      <div class="card" style="width: 18rem;">
        <img src="{{ mascota.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ mascota.nombre }}</h5>
          <p class="card-text">{{ mascota.texto }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Especie: {{ mascota.especie }}</li>
          <li class="list-group-item">Vacunas
            <ul>
              {% for vac in mascota.vacunas %}
                <li>{{ vac }}</li>
              {% endfor %}
            </ul>
          </li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Dame un like</a>
          <a href="#" class="card-link">Comparte</a>
        </div>
      </div>
    {% else %}
      <h1 class="text-light">No hay registro</h1>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block js%}
  {{ block.super }} <!-- Mantiene las propiedades JS del padre -->
    <script>
      console.log('Contenido escrito de la página de destalle')
    </script>
{% endblock %}